.nav-wrapper{
	font-family: 'Fjalla One', sans-serif;
	background-color: #00475D;
}

.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #00475d;
}

element.style {
    background: #00475d;
}